<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <title>Certificate</title>
</head>
<body>

    <!-- <img src="{{ url_for('static', filename=name.png) }}" /> -->
    <div class="center1">
    <img src="./static/certificate.png" width="800",height="600">
    </div>
    <div class="form">
        <button class="button">
            <a href="./static/certificate.png" download> Download</a></button>
    </div>
   
   
</body>
</html>